# Logs
logs
*.log

# Temporary files
/media/*
!/media/index.html
*.bak

# Node / Runtime files
.cache
pids
*.pid
*.seed
.tmp
node_modules
npm-debug.log*
yarn.log

# Editor files
.history

# System files
Icon
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Kirby subfolder contents
/www/content/cover.png*
/www/content
/www/content/*/**

# Kirby composer dependencies
/www/vendor
/www/kirby
/www/site/plugins/*

# Prevent custom plugins to be ignored
!/www/site/plugins/.gitkeep
!/www/site/plugins/kirby-webpack
!/www/site/plugins/YOUR_NAMESPACE-*

# Kirby Temporary files
/www/media/*
!/www/media/index.html

# Kirby Cache Files
/www/site/cache/*
!/www/site/cache/index.html

# Kirby Accounts
/www/site/accounts/*
!/www/site/accounts/index.html

# Kirby Sessions
/www/site/sessions/*
!/www/site/sessions/index.html

# Kirby License and API keys
/www/site/config/.license
/www/site/config/credentials*.php
!/www/site/config/credentials.example.php
