{
  "ignoreFiles": [
    "./node_modules/**",
    "./config/**",
    "./scripts/**",
    "./build/**"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "no-extra-semicolons": true,
    "declaration-block-trailing-semicolon": "always",

    "order/order": [
      [
        { "type": "at-rule", "hasBlock": false },
        { "type": "at-rule", "name": "mixin" },
        { "type": "at-rule", "name": "extend" },
        { "type": "at-rule", "name": "include", "hasBlock": false },
        "dollar-variables",
        "custom-properties",
        "declarations",
        { "type": "at-rule", "name": "media" },
        "rules",
        { "type": "at-rule", "name": "if", "hasBlock": true },
        { "type": "at-rule", "name": "for", "hasBlock": true }
      ]
    ]
  }
}
