# SEE https://github.com/getkirby/starterkit/blob/main/.htaccess

<IfModule mod_rewrite.c>
  RewriteEngine on

  # In some environments it's necessary to set the RewriteBase to:
  # RewriteBase /

  # Block files and folders beginning with a dot, such as .git
  # Except for the .well-known folder, which is used for Let's Encrypt and security.txt
  RewriteRule (^|/)\.(?!well-known\/) index.php [L]

  # Block all files in the content folder from being accessed directly
  RewriteRule ^content/(.*) index.php [L]

  # Block all files in the site folder from being accessed directly
  RewriteRule ^site/(.*) index.php [L]

  # Block direct access to Kirby and the Panel sources
  RewriteRule ^kirby/(.*) index.php [L]

  # Make site links work
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) index.php [L]
</IfModule>

# Pass the Authorization header to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Compress text file responses
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# SEE https://github.com/texnixe/kirby-secrets/blob/master/docs/htaccess.md

# Using the browser cache is good for both speed and SEO.
# It will set an expire date on different types of files.
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 10 days"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/plain "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType application/x-icon "access plus 1 year"
</IfModule>

# Gzip compression is good for both speed and SEO
<IfModule mod_filter.c>
  AddOutputFilterByType DEFLATE \
  "application/atom+xml" \
  "application/javascript" \
  "application/json" \
  "application/ld+json" \
  "application/manifest+json" \
  "application/rdf+xml" \
  "application/rss+xml" \
  "application/schema+json" \
  "application/vnd.geo+json" \
  "application/vnd.ms-fontobject" \
  "application/x-font-ttf" \
  "application/x-javascript" \
  "application/x-web-app-manifest+json" \
  "application/xhtml+xml" \
  "application/xml" \
  "font/eot" \
  "font/opentype" \
  "image/bmp" \
  "image/svg+xml" \
  "image/vnd.microsoft.icon" \
  "image/x-icon" \
  "text/cache-manifest" \
  "text/css" \
  "text/html" \
  "text/javascript" \
  "text/plain" \
  "text/vcard" \
  "text/vnd.rim.location.xloc" \
  "text/vtt" \
  "text/x-component" \
  "text/x-cross-domain-policy" \
  "text/xml"
</IfModule>

# Set Content Security Policy to please Dareboost
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  Header add Access-Control-Allow-Origin "*"
  Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
  Header always set X-FRAME-OPTIONS "DENY"
</IfModule>
