$breakpoint-mobile: 768px;

@mixin desktop {
  @media (min-width: $breakpoint-mobile + 1) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2x) {
    @content;
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin debug-view {
  html[data-hash='debug'] & {
    @content;
  }
}
